<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <title>Connect</title>
</head>
<body>
    <h1>Vista Connect</h1>
    <div>
        <label for="temperatura">Temperatura (C°):</label>
        <input type="text" id="txtTemperatura"><br><br>

        <label for="pressure">Presion (kPa):</label>
        <input type="text" id="txtPressure"><br><br>

        <label for="pressure">Humedad %:</label>
        <input type="text" id="txtHumedad"><br><br>

        <label for="acelearcion">Aceleración (GS):</label>
        <input type="text" id="txtAceleracion"><br><br>

        <label for="velocidad">Velocidad (m/s):</label>
        <input type="text" id="txtVelocidad"><br><br>

        <label for="altitud">Altitud (m):</label>
        <input type="text" id="txtAltitud"><br><br>

        <label for="latitud">Latitud (°):</label>
        <input type="text" id="txtLatitud"><br><br>

        <label for="longitud">Longitud (°):</label>
        <input type="text" id="txtLongitud"><br><br>

        <label for="temperatura_M">Temperatura Mision(C°):</label>
        <input type="text" id="txtTemperatura_M"><br><br>

        <label for="pressure_M">Presion Mision (kPa):</label>
        <input type="text" id="txtPressure_M"><br><br>

        <button id="btnSend">Enviar trama</button>
        
    </div>
    
    <script>
        var socket = io();
        document.getElementById("btnSend").addEventListener('click',function(){
            var temperatura = parseInt(document.getElementById('txtTemperatura').value);
            var presion  = parseInt(document.getElementById('txtPressure').value);
            var humedad  = parseInt(document.getElementById('txtHumedad').value);
            var aceleracion = parseFloat(document.getElementById('txtAceleracion').value);
            var velocidad = parseFloat(document.getElementById('txtVelocidad').value);
            var altitud = parseFloat(document.getElementById('txtAltitud').value);
            var latitud = parseFloat(document.getElementById('txtLatitud').value);
            var longitud = parseFloat(document.getElementById('txtLongitud').value);
            var apogeo = Boolean(Math.round(Math.random()));
            var evento_1 = Boolean(Math.round(Math.random()));
            var evento_2 = Boolean(Math.round(Math.random()));
            var temperatura_M = parseInt(document.getElementById('txtTemperatura_M').value);
            var presion_M  = parseFloat(document.getElementById('txtPressure_M').value);

            var trama ={
                    "temperatura": temperatura,
                    "presion": presion,
                    "humedad": humedad,
                    "aceleracion": aceleracion,
                    "velocidad": velocidad,
                    "altitud": altitud,
                    "latitud": latitud,
                    "longitud": longitud,
                    "apogeo": apogeo,
                    "evento_1": evento_1,
                    "evento_2": evento_2,
                    "temperatura_M": temperatura_M,
                    "presion_M": presion_M
            }

            console.log(trama);
            socket.emit('telemetria',trama);

        })
    </script>

</body>
</html>