<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>


  
</head>

<body>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}





  <div class="container">
    <h2>Iniciar Sesión</h2>


    <form method="POST">
      <input type="text" name="correo" placeholder="Usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <input type="submit" value="Entrar">
    </form>
    
  </div>
</body>
</html>
